body{
    justify-items: center;
    text-align: start;
height: auto;
background-color: whitesmoke;
}
.containernav{
    display: flex;
    
    justify-content: center;
    align-content: center;
    text-align: center;
    
}

.dropdown-item:hover{
    background-color: blue;
}
.container{
    display: grid;
    grid-template-columns: 1fr  1fr;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}
.d-flex{
    width: 1300px;
   justify-self: center;


}
.d-flex2{
   width:max-content;
   text-align: center;
   margin-top:-20px;
   margin-bottom: 10px;
   display: flex;
   justify-self: center;
   align-self: center;
   text-align: center;
 
   overflow-x:scroll;
}
.col-md-3{
    display: flex;
}

#blogpost{
    width:590px;
    height: 450px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}

.categories{
    text-align: start;
    margin-top: 230px;
    display: flex;
    gap: 10px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}
#delete{
    background-color: red;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    border: none;
    margin-top: -15px;
}
#edit{
    background-color: green;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    border: none;
    margin-top: -15px;
}
#add{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    place-self: inherit;
    background-color: blue;
    border: none;
}

.socialdiv{
    background-color:#dde1e4;
    width: 390px;
    height: 80px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 25px;
  margin-top: 25px;
 
  border: none;
  margin-bottom: 20x;
}
.socialdiv:hover{
box-shadow: 3px 3px 10px black;
}
#socialcontainer{
 display: grid;
 grid-template-columns: 1fr ;
   height: 620px;
justify-self: center;
align-content: center;
text-align: center;
margin-bottom: 30px;

}
.social{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 8px;
    margin-bottom: 20px;
}
#blogpost:hover{
    box-shadow: 5px 5px 10px black ;
}
#title{
    width: 350px;
    height: 30px;
    background-color: #dde1e4;
    border: none;
}
#message{
    width: 350px;
    height: 150px;
     background-color:  #dde1e4;
     border: none;
}
.wordivs{
    width: 380px;
    height: max-content;
}
.btn{
    width: 100px;
    height: 40px;
    /* background-color: blue; */
    border: none;
    border-radius: 10px;
    
}

.imgnav{
    border-radius: 50%;
    background-color: blue;
     width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    padding-top: 5px;
}
.imgnav:hover{
    box-shadow: 0px 2px 5px black;
}
#add:hover{
    box-shadow: 0px 2px 5px black;
}
#card{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap:7px;
    background-color:white;
    width: 400px;
    height: 450px;
    box-shadow: 5px 5px 10px black;
    border-radius: 15px;
}
.container-fluid{
    margin-bottom: 30px;
    margin: 10px;
}
@media(max-width:400px){
    body{
    justify-items: center;
    width: 400px;
    height: 2000px;
    margin-left: -8px;
    overflow: none;
}
    .container{
    display: flex;
   flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-left: 60px;
}
.containernav{
    display: flex;
    
    justify-content: start;
    align-content: start;
    text-align: center;
    
}
#card{
    display: flex;
    flex-direction: column;
margin-left: 15px;
    align-items: center;
    justify-content: center;
    gap:7px;
    background-color:white;
    width: 386px;
    height: 450px;
    box-shadow: 5px 5px 10px black;
    border-radius: 15px;
}
.socialdiv{
    background-color:#dde1e4;
    width: 390px;
    height: 80px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 25px;
  margin-top: 25px;
  margin-left: 10px;
  border: none;
}
}