body{
    justify-items: center;
    text-align: start;
height: auto;
background-color: whitesmoke;
}
.containernav{
    display: flex;
    
    justify-content: center;
    align-content: center;
    text-align: center;
    
}

.dropdown-item:hover{
    background-color: blue;
}
.content{
    display: grid;
    grid-template-columns: 1fr  1fr;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}
.d-flex{
    width: 1300px;
   justify-self: center;


}
.form-signin{
  
    display: flex;
    flex-direction: column;
     gap: 10px;
     margin-top: 100px;
}
.d-flex2{
   width:max-content;
   text-align: center;
   margin-top:-20px;
   margin-bottom: 10px;
   display: flex;
   justify-self: center;
   align-self: center;
   text-align: center;
 
   overflow-x:scroll;
}
.col-md-3{
    display: flex;
}

#blogpost{
    width:590px;
    height: 450px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}

.categories{
    text-align: start;
    margin-top: 230px;
    display: flex;
    gap: 10px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}
#delete{
    background-color: red;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    border: none;
    margin-top: -15px;
}
#edit{
    background-color: green;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    border: none;
    margin-top: -15px;
}
#add{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    place-self: inherit;
    background-color: blue;
    border: none;
}

.socialdiv{
    background-color:#dde1e4;
    width: 390px;
    height: 80px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 25px;
  margin-top: 25px;
 
  border: none;
  margin-bottom: 20x;
}
.socialdiv:hover{
box-shadow: 3px 3px 10px black;
}
#socialcontainer{
 display: grid;
 grid-template-columns: 1fr ;
   height: 620px;
justify-self: center;
align-content: center;
text-align: center;
margin-bottom: 30px;

}
.social{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 8px;
    margin-bottom: 20px;
}
#blogpost:hover{
    box-shadow: 5px 5px 10px black ;
}
#title{
    width: 350px;
    height: 30px;
    background-color: #dde1e4;
    border: none;
}
#message{
    width: 350px;
    height: 150px;
     background-color:  #dde1e4;
     border: none;
}
.wordivs{
    width: 380px;
    height: max-content;
}
.btn{
    width: 100px;
    height: 40px;
    /* background-color: blue; */
    border: none;
    border-radius: 10px;
    
}

.imgnav{
    border-radius: 50%;
    background-color: blue;
     width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    padding-top: 5px;
}
.imgnav:hover{
    box-shadow: 0px 2px 5px black;
}
#add:hover{
    box-shadow: 0px 2px 5px black;
}
#card{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap:7px;
    background-color:white;
    width: 400px;
    height: 450px;
    box-shadow: 5px 5px 10px black;
    border-radius: 15px;
}
.container-fluid{
    margin-bottom: 30px;
    margin: 10px;
}

#signin{
    display: flex;
    flex-direction: column;
     gap: 10px;
     margin-top: 100px;
}
.h3{
    margin-left: 100px !important;
}
.form-control{
    width:400px !important;margin-left: 450px !important;
}
.floatingInput{
    width:400px !important;margin-left: 450px !important;
}
.mtitle{
     width:380px !important;
   
     justify-self: center;
border: none;
border-radius: 5px;
height: 50px;

}
.mlabel{
   width:400px !important;
   justify-self: center;
   
}
.text{
    width: 380px;
    height: 200px;
 border: none;
 border-radius: 5px;
    justify-self: center;
  
}

#checkDefault{
    margin-left: 480px !important;
}
.form-check-label{
    width:400px !important;margin-left: 480px !important;
}
#login{
    width:180px !important;margin-left: 610px !important;
}


.contactform{
    box-shadow:3px 0 10px black;
    border-radius: 15px;
width:400px;
height: 500px;
justify-content: center;
align-content: center;
}
.contactcontainer{
    display: flex;flex-direction: column;height: 470px; gap: 10px; justify-self: center; align-self: center;justify-content: center;align-content:center;
}

@media(max-width:500px){
    body{
    justify-items: center;
    width: 400px;
    height: 2000px;
    margin-left: 10px;
    overflow: none;
    justify-content: center;
    align-content: center;
  
}
.content{
   display: flex !important;
   flex-direction: column !important;
   margin-left: -9px;
   margin-bottom: -1700px;
}
.containernav{
    display: flex;
    margin-top: -1000px;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
.containernav2{
    display: flex;
    margin-top: -800px;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
#blogpost{
    width:390px !important;
    height: 450px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}

.form-signin{
    width: 350px !important;
    display: flex;
    flex-direction: column;
     gap: 10px;
     margin-top: 100px;
     margin-left: 500px;
}
#signin{
 margin-left: 100px;
}
   
.d-flex{
    width: 400px;
   justify-self: center;


}
#blogpost{
    width:390px;
    height: 450px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}
.containernav{
    display: flex;
    
    justify-content: start;
    align-content: start;
    text-align: center;
    
}
#card{
    display: flex;
    flex-direction: column;
margin-left: -8px;
    align-items: center;
    justify-content: center;
    gap:7px;
    background-color:white;
    width: 386px;
    height: 450px;
    box-shadow: 5px 5px 10px black;
    border-radius: 15px;

}
.socialdiv{
    background-color:#dde1e4;
    width: 390px;
    height: 80px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 25px;
  margin-top: 25px;
  margin-left: 10px;
  border: none;
}


#signin{
    display: flex;
    flex-direction: column;
     gap: 10px;
     margin-top: 50px;
}
.h3{
    margin-left: 5px !important;
}
.form-control{
    width:300px !important;margin-left: 50px !important;
}
.floatingInput{
    width:300px !important;margin-left: 50px !important;
}
#checkDefault{
    margin-left: 80px !important;
}
.form-check-label{
    width:300px !important;margin-left: 480px !important;
}
#login{
    width:180px !important;margin-left: 50px !important;
}

.mtitle{
     width:350px !important;
     justify-self: center;
border: none;
border-radius: 5px;
height: 50px;
margin-left: 10px;
}
.mlabel{
   width:400px !important;
   justify-self: center;
   margin-left: 20px;   
}
.text{
    width: 350px;
    height: 200px;
 border: none;
 border-radius: 5px;
    justify-self: center;
    margin-left: 10px;
}
.textlabel{
    margin-left: 20px;
}
}